<!DOCTYPE html>
<html lang="en" style="width: 100%; height: 100%;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  </head>
  <body style="width: 100%; height: 100%;">
    <app style="width: 100%; height: 100%;">
      <div class="page" v-if="activePage == 'Page0'" style="width: 100%; height: 100%;">
        <button class="btn" :style="{position: 'absolute', width: Button2.dim.width/app.width*100+'%', height: Button2.dim.height/app.height*100+'%', top: Button2.dim.row/app.height*100+'%', left: Button2.dim.col/app.width*100+'%'}"
        v-text="Button2.name"
        @click="Plus1_method">
</button>

        <div class="label"
     v-text="Label3.name"
     v-show="Label3.visibility"
     :style="{position: 'absolute', overflow: 'hidden', width: Label3.dim.width/app.width*100+'%', height: Label3.dim.height/app.height*100+'%', top: Label3.dim.row/app.height*100+'%', left: Label3.dim.col/app.width*100+'%'}">
</div>

        <div class="input-field" :style="{position: 'absolute', width: Textbox4.dim.width/app.width*100+'%', height: Textbox4.dim.height/app.height*100+'%', top: Textbox4.dim.row/app.height*100+'%', left: Textbox4.dim.col/app.width*100+'%'}">
  <input type="text" class="validate"
         v-model="Textbox4.name"
         v-show="Textbox4.visibility">
  </input>
</div>

        <div class="input-field" :style="{position: 'absolute', width: Textbox5.dim.width/app.width*100+'%', height: Textbox5.dim.height/app.height*100+'%', top: Textbox5.dim.row/app.height*100+'%', left: Textbox5.dim.col/app.width*100+'%'}">
  <input type="text" class="validate"
         v-model="Textbox5.name"
         v-show="Textbox5.visibility">
  </input>
</div>

      </div>

    </app>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script>
      Vue.config.debug = true
      var vm = new Vue({
        el: 'app',
        data: {
          activePage: 'Page0',
          app: {"author":"John Doe","appName":"MyAwesomeApp","width":10,"height":20,"pageNames":["Page0"]},
          Button2: {"visibility":true,"dim":{"row":12,"col":0,"width":7,"height":5},"page":"Page0","name":"Sample text"},
          Label3: {"visibility":true,"dim":{"row":11,"col":0,"width":7,"height":1},"page":"Page0","name":"Sample text"},
          Textbox4: {"visibility":true,"dim":{"row":0,"col":0,"width":10,"height":4},"page":"Page0","name":"Sample text"},
          Textbox5: {"visibility":true,"dim":{"row":2,"col":0,"width":10,"height":4},"page":"Page0","name":"Sample text"},
          Plus1: {"result":null},
        },
        computed: {
        },
        methods: {
          Plus1_method: function() {
  this.Plus1.result = this.Textbox3 + this.Textbox4;
  return null;
}
,
        },
      })
    </script>

  </body>
</html>
