<!DOCTYPE html>
<html>
{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <script src="{% static "Qr/jquery.qrcode-0.12.0.min.js" %}"></script>

    <script>
        var imagePath = "{% static "Qr/appy.png" %}";
    </script>
    <script src="{% static "Qr/qrcode_generator.js" %}"></script>
</head>
<body>
<canvas height="300" id="qr">

</canvas>
</body>
<script>
    $("#qr").createQR({{ data | safe }});
</script>
</html>

